<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="div">
       <input type="text" v-model="firstName" placeholder="fname">
       <input type="text" v-model="lastName" placeholder="lname">
       <br>

       <h4>Your Full Name:{{fullName}}</h4>
    </div>
    <script src="app-17.js"></script>
</body>
</html>